body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1a0033, #000428);
    color: white;
    margin-top: 0;
  }
  
  .title {
    font-size: 48px;
    font-family:"Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 10px;
  
    /* subtle shadow */
    text-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  
    /* smooth animation */
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 1s ease forwards;
  }
  
  .subtitle {
    font-size: 16px;

    text-align: center;
    color: #cbd5e1;
    margin-bottom: 50px;
    color: #cbd5e1;
    line-height: 1.5;

    opacity: 0;
    animation: fadeUp 1s ease forwards;
    animation-delay: 0.3s;
  }
  
  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
 
   /* SECTION */
   .projects-section {
    padding: 60px 10%;
  }
  
  /* PROJECT CONTAINER */
  .projects-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  /* CARD */
  .project-card {
    display: flex;
    gap: 30px;
    background: linear-gradient(135deg, #710bd1, #000428);

    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    transition: 0.3s;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
  }
  
  /* IMAGE BOX */
  .project-image {
    width: 300px;
    height: 200px;
    background: #334155;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: #94a3b8;
    font-size: 14px;
    flex-shrink: 0;
  }
  
  /* CONTENT */
  .project-content h2 {
    margin: 0;
    margin-bottom: 10px;
    color: white;
  }

  h2:hover {
    transform: scale(1.05);
    transition: 0.3s;
  }

  .project-content a{
    text-decoration: none;

  }
  
  .project-content p {
    color: #cbd5e1;
    line-height: 1.5;
    text-align: left;
  }
  
  /* TAGS */
  .tags {
    margin-top: 15px;
  }
  
  .tags span {
    display: inline-block;
    /* background: #334155; */
    background: #032c7d;
    padding: 5px 10px;
    margin-right: 8px;
    margin-top: 5px;
    border-radius: 20px;
    font-size: 12px;
  }

  .placeholder {
    width: 300px;      /* your placeholder size */
    height: 200px;
    border: 2px dashed gray;
    overflow: hidden;  /* hides overflow */
  }
  
  .project-image img {
    width: 300px;  
    height: 200px;
    object-fit: cover;  /* key property */
    border-radius: 12px;
    display: block;
    max-width: 100%;
  }

  .socials {
    margin-top: 25px;
  }
  
  .socials a {
    margin-right: 20px;
    font-size: 22px;
    color: white;
    transition: 0.3s;
    font-size: 36px;
    text-decoration: none;
  }
  
  .socials a:hover {
    color: coral;
    transform: scale(1.2);
  }